body{
    background-color:black;
    color:white;
}

.header-sentense span{
    color: #daa520;
}




.header-logo img{
    width: 450px;
    height: 500px;
}

.header-sntense{
    float: center;
}



.game img{
    padding: 100px 30px;
    float: center;
    width: 500px;
    height: 300px;

}
